.DS_Store

# Sass cache
/.sass-cache

# Development files
/node_modules
/.tmp
src/**/*.html
src/**/snippets/*
src/**/demo.css
src/**/demo.js
src/**/README.md

# Generated theme files
*.map
*.lock
vendor
